demos/demo1/__pycache__
demos/demo2/__pycache__
*/*/*/layer*
*/*/layer*
*/layer*
*/*/*/HTML
*/*/HTML
*/HTML
*/*/*/nohup*
*/*/nohup*
*/*/*/motifDB.txt
*/*/*/weight.hdf5
*/*/*/__pycache__
*/*/__pycache__
*/__pycache__

